sema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by Daniil (NURE) -->
<!-- W3C Schema generated by XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="author">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="By ANDREALF63"/>
				<xs:enumeration value="By Angela"/>
				<xs:enumeration value="By Angie"/>
				<xs:enumeration value="By Charlize Jamieson"/>
				<xs:enumeration value="By Chef John"/>
				<xs:enumeration value="By Colleen"/>
				<xs:enumeration value="By JUDI ANN"/>
				<xs:enumeration value="By Janet Caldwell"/>
				<xs:enumeration value="By LUSYRSGIRL"/>
				<xs:enumeration value="By Laria Tabul"/>
				<xs:enumeration value="By MARBALET"/>
				<xs:enumeration value="By Nicole Burdett"/>
				<xs:enumeration value="By Nikkiling"/>
				<xs:enumeration value="By Sandy"/>
				<xs:enumeration value="By Yoly"/>
				<xs:enumeration value="By dakota kelly"/>
				<xs:enumeration value="By fabeverydayblog"/>
				<xs:enumeration value="By kris"/>
				<xs:enumeration value="By sal"/>
				<xs:enumeration value="By str0ngwarri0r"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="recipe" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Air Fryer Chicken Taquitos"/>
				<xs:enumeration value="Baja Pot Roast"/>
				<xs:enumeration value="Best Brownies"/>
				<xs:enumeration value="Better-Than-Olive Garden® Alfredo Sauce "/>
				<xs:enumeration value="Biscuits and Gravy Casserole"/>
				<xs:enumeration value="Chicken Parmesan"/>
				<xs:enumeration value="Corned Beef and Cabbage I"/>
				<xs:enumeration value="Crispy and Tender Baked Chicken Thighs"/>
				<xs:enumeration value="Easy Chicken Marsala"/>
				<xs:enumeration value="Easy Meatloaf"/>
				<xs:enumeration value="Easy Mexican Casserole"/>
				<xs:enumeration value="Fluffy Pancakes"/>
				<xs:enumeration value="Good Old Fashioned Pancakes"/>
				<xs:enumeration value="Grilled Apple and Swiss Cheese Sandwich"/>
				<xs:enumeration value="Instant Pot® Shepherd&apos;s Pie"/>
				<xs:enumeration value="Lasagna Alfredo Roll Ups"/>
				<xs:enumeration value="Slow Cooker Chicken Stroganoff"/>
				<xs:enumeration value="Slow-Cooker Corned Beef and Cabbage  "/>
				<xs:enumeration value="Stuffed Peppers My Way"/>
				<xs:enumeration value="To Die For Blueberry Muffins"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="num_of_reviews">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="10303"/>
				<xs:enumeration value="1045"/>
				<xs:enumeration value="11458"/>
				<xs:enumeration value="123"/>
				<xs:enumeration value="12351"/>
				<xs:enumeration value="14"/>
				<xs:enumeration value="1412"/>
				<xs:enumeration value="142"/>
				<xs:enumeration value="1734"/>
				<xs:enumeration value="18"/>
				<xs:enumeration value="238"/>
				<xs:enumeration value="2480"/>
				<xs:enumeration value="28"/>
				<xs:enumeration value="3189"/>
				<xs:enumeration value="428"/>
				<xs:enumeration value="446"/>
				<xs:enumeration value="5781"/>
				<xs:enumeration value="867"/>
				<xs:enumeration value="884"/>
				<xs:enumeration value="9613"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="rating">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="4.23999977111816"/>
				<xs:enumeration value="4.28999996185303"/>
				<xs:enumeration value="4.36999988555908"/>
				<xs:enumeration value="4.40000009536743"/>
				<xs:enumeration value="4.40999984741211"/>
				<xs:enumeration value="4.48999977111816"/>
				<xs:enumeration value="4.53999996185303"/>
				<xs:enumeration value="4.57999992370605"/>
				<xs:enumeration value="4.59000015258789"/>
				<xs:enumeration value="4.59999990463257"/>
				<xs:enumeration value="4.6100001335144"/>
				<xs:enumeration value="4.61999988555908"/>
				<xs:enumeration value="4.6399998664856"/>
				<xs:enumeration value="4.82000017166138"/>
				<xs:enumeration value="4.82999992370605"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="recipe" type="recipeType"/>
	<xs:complexType name="recipeType">
		<xs:sequence>
			<xs:element ref="name"/>
			<xs:element ref="num_of_reviews"/>
			<xs:element ref="rating"/>
			<xs:element ref="description"/>
			<xs:element ref="author"/>
		</xs:sequence>
		<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:byte">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="10"/>
					<xs:enumeration value="11"/>
					<xs:enumeration value="12"/>
					<xs:enumeration value="13"/>
					<xs:enumeration value="14"/>
					<xs:enumeration value="15"/>
					<xs:enumeration value="16"/>
					<xs:enumeration value="17"/>
					<xs:enumeration value="18"/>
					<xs:enumeration value="19"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
